$on-background-color: #fff;

.wrapper {
  height: 4vw;
  min-height: 45px;
  width: 4vw;
  min-width: 45px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #4553D0 50%, $on-background-color 50%);
}
