@import 'style/global';

.wrapper {
  display: flex;
  width: 100%;
  height: 300px;
  margin-top: 240px;

  .tooltip{
    &__container{
      display: flex;
      flex-direction: column;
      width: 230px;
      min-width: 230px;
      margin-right: 48px;


      >h1 {
        margin-top: 0;
        padding-top: 0;
        font-size: 28px;
      }
      >span {
        color: grey;
        font-size: 20px;
      }
    }
  }

  .card__container{
    margin-right: 48px;
  }
  .default{
    border: 2px solid $grey;
  }

  .dark{
    background-color: #000;
    color: #fff;
  }

  .absolute{
    position:absolute;
    left: 24px;
    bottom: 24px;
  }

  .card--dark__container {
    position:relative;
    border: dashed 2px $grey;
    border-radius: 20px;
    display: flex;
    width: 240px;
    min-width: 240px;
    height: 240px;
  }
}